#rulesMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-image: url('../IMG/book.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.book-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 22%;
  padding-bottom: 22%;
}

.left-page {
  padding-left: 12%;
  padding-right: 4%;
}

.right-page {
  padding-left: 4%;
  padding-right: 12%;
}

.rule-box {
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rule-box p {
  font-family: schreibschrift, sans-serif;
  color: #2b1d0e;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

.back-btn-wrapper {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
}

.back-btn {
  width: 100%;
  margin: 0;
}